* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    transition: background 0.3s linear, color 0.3s linear;
}

body.dark {
    background-color: #1f1f1f;
    color: white;
}

body.dark label {
    background-color: seagreen;

}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

label {
    background-color: rebeccapurple;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s linear;
}

input {
    visibility: hidden;
}